@model TasteBuddies.Models.User

<h1>@Model.Name's User Details</h1>
<br />

<p>Name: @Model.Name</p>

<p>Username: @Model.UserName</p>

<a href="/users/@Model.Id/edit"><strong>Edit @Model.Name's Details</strong></a>
<br />
<a href="/users/@Model.Id/resetpassword"><strong>Reset @Model.Name's Password</strong></a>

<br />
<br />

<h2>@Model.Name's Posts:</h2>
@if (Model.Posts.Any() != false)
{
    foreach (var post in Model.Posts)
    {
        <div>
            <h6> @post.Title</h6>
            <p>
                @post.CreatedAt.ToLocalTime().ToString(): @post.Description
                <br />
                <img src="@post.ImageURL" alt="Post Image" style="max-width: 300px; height: auto;">
                <br/>
                <a href="/Users/@post.User.Id/Posts/@post.Id/Edit">Edit Post</a>
                <form action="/Users/@post.User.Id/posts/@post.Id/delete" method="post">
                    <button type="submit" onclick="return confirm('Are You Sure You Want To Delete this Post?')">Delete Post</button>
                </form>
            </p>
        </div>
    }
}
else
{
    <p><strong>@Model.UserName has not created any posts yet.</strong></p>
}
