@model TasteBuddies.Models.User

<h1>@Model.Name's User Details</h1>
<br />

<p>Name: @Model.Name</p>

<p>Username: @Model.UserName</p>

<h2>@Model.Name's Posts:</h2>
@if (Model.Posts.Any() != false)
{
    foreach (var post in Model.Posts)
    {
        <div>
            <h6> @post.Title</h6>
            <p>
                @post.CreatedAt.ToLocalTime().ToString(): @post.Description
                <br />
                <img src="@post.ImageURL" alt="Post Image" style="max-width: 300px; height: auto;">
            </p>
        </div>
    }
}
else
{
    <p><strong>@Model.UserName has not created any posts yet.</strong></p>
}
